main{
    background-color: rgba(237, 240, 234, 0.986);
}

.header{
    text-align: center;
    font-size: 30px;
    position: relative;
    
}
h3{
    font-style: italic;
    font-size: 30px;
    text-align: center;
}
img{

    width:150px;
    height:200px;
    float: right;
    margin: 20px;
    

}
p.p2{
    
    clear: right;
    margin:20px;
}
li{
    font-style: oblique;
    font-size: 20px;
}
p{
    font-style: oblique;

    font-size: 20px;
}

